
<!-- if content loading then show loading dialog -->
<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<!-- esle content is loaded show cat table -->
<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current cats ({{cats.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Weight</th>
          <th>Actions</th>
        </tr>
      </thead>

      <!-- if no cats in db then show message that there are no cats -->
      <tbody *ngIf="cats.length === 0">
        <tr>
          <td colspan="4">There are no cats in the DB. Add a new cat below.</td>
        </tr>
      </tbody>

      <!-- if not editing then show list of cats -->
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let cat of cats">
          <td>{{cat.name}}</td>
          <td>{{cat.age}}</td>
          <td>{{cat.weight}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>

      <!-- if user is editing then show form to edit cat info -->
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <!-- on submit of form call editcat function with cat varible -->
            <!-- create a form variable that is binded???? call it ngForm -->
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCat(cat)" style="display:inline">
              <div class="form-group">
                  <!-- two way binding of cat property 'name' -->
                  <input class="form-control" type="text" name="name" [(ngModel)]="cat.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <!-- two way binding of cat property 'age' -->
                <input class="form-control" type="number" name="age" [(ngModel)]="cat.age" placeholder="Age" min="0" required>
              </div>
              <div class="form-group">
                <!-- two way binding of cat property 'weight' -->
                <input class="form-control" type="number" name="weight" [(ngModel)]="cat.weight" placeholder="Weight" step="any" min="0" required>
              </div>
              <!-- disable button if form is not valid -->
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <!-- on click cancelEditing function is called -->
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- hide if no body property in info message -->
    <!-- set class (color) of alert based on info message type-->
    <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Message:</strong> {{infoMsg.body}}
    </div>
  </div>
</div>

<!-- if user is not editing current data then show new cat form -->
<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new cat</h4>
  <div class="card-block">
    <!-- create form group called addCatForm??? -->
    <!-- on form submit call addCat function -->
    <form class="form-inline" [formGroup]="addCatForm" (ngSubmit)="addCat()" style="text-align:center">
      <div class="form-group">
          <!-- form control name is 'name' -->
          <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
        <!-- form control name is 'age' -->
        <input class="form-control" type="number" name="age" formControlName="age" placeholder="Age" min="0">
      </div>
      <div class="form-group">
        <!-- form control name is 'weight' -->
        <input class="form-control" type="number" name="weight" formControlName="weight" placeholder="Weight" step="any" min="0">
      </div>
      <!-- disable submit button if form info not valid -->
      <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
